#fws-menu {position: absolute; z-index: 9; background-color: #f1f1f1; text-align: center; border: 1px solid #d3d3d3; width: 200px; font-family: 'Lato', sans-serif;}
#menuheader {padding: 10px; cursor: move; z-index: 10; background-color: #2196F3; color: #fff; width: 180px; font-family: 'Lato', sans-serif;}
#buttons {padding: 10px; z-index: 10; color: #fff; width: 180px; font-family: 'Lato', sans-serif;}
